/* 速度控制样式 */
.speed-control {
    margin-top: 10px;
}

#set-speed {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#set-speed:hover {
    background-color: #444;
}

#speed-input {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    margin-top: 5px;
}

#speed-hint {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
